<div class="container-form">
    <form action="/signup" method="POST">
        <div class="form">
            <h1>Sign Up</h1>

            <div class="group">
                <input type="text" name="username" id="username" required>
                <span class="bar"></span>
                <label>Username</label>
            </div>

            <div class="group">
                <input type="email" name="email" id="email" required>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="password" name="password" id="password" required>
                <span class="bar"></span>
                <label>Password</label>
            </div>

            <div class="group">
                <input type="password" name="passc" id="passc" required>
                <span class="bar"></span>
                <label>Repeat Password</label>
            </div>
            <button>
                Sign Up
            </button>
            <button class="btn btn-google">
                Login Google <i class="fab fa-google-plus-g"></i>
            </button>
        </div>
    </form>
</div>