<div class="content">
    <div class="container-content">
        <h3>The Calendar</h3>
        <span>appointment schedule and more</span>
        <button class="btn btn-start">
            <a href="/login">Start</a>
        </button>
    </div>
</div>