<nav>
    <div class="container">
        <span>
            <a href="/">
                Calendar App
            </a>
        </span>

        <ul>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/signup" class="active">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>