<div class="wrapper">
    <div class="calendar">
        <div class="month">
            <div class="prev">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div>
                <h1 id="month"></h1>
                <p id="date_str"></p>
            </div>
            <div class="next">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        <div class="weekends">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="days">

        </div>
    </div>
</div>

<div class="container-modal">
    <div class="bg"></div>
    <div class="modal-calendar">
        <div class="modal-header">
            <h1>Add a new note</h1>
        </div>
        <div class="modal-body">
            <div class="modal-group">
                <input type="text" placeholder="Tile" name="title" id="title">
            </div>
            <div class="modal-group">
                <input type="text" placeholder="Date Start" name="start" id="start">
            </div>
            <div class="modal-group">
                <input type="text" placeholder="Date End" name="end" id="end">
            </div>
            <div class="modal-group">
                <input type="text" placeholder="Color" name="color" id="colorValue" disabled>
                <input type="color" id="color">
            </div>
            <div class="modal-group">
                <textarea name="description" id="description" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-cancel-calendar">
                Cancel
            </button>
            <button class="btn-send-calendar">
                Save
            </button>
        </div>
    </div>
</div>