<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="css/loader.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/sidenav.css" type="text/css">
    <link rel="stylesheet" href="css/calendar.css" type="text/css">
    <link rel="stylesheet" href="css/message.css" type="text/css">
    <link rel="stylesheet" href="css/profile.css" type="text/css">
    <link rel="stylesheet" href="css/date-picker.css" type="text/css">
</head>

<body>

   {{> loader}}

    {{> message }}

    {{> sidenav}}

    {{{body}}}

    <script src="https://kit.fontawesome.com/7244f7bc2d.js" crossorigin="anonymous"></script>
    <script src="js/main.js" type="module"></script>
</body>

</html>